<h1><%- title %></h1>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="form-container">
    <form action="/inv/add-classification" method="POST">
        <label for="classification_name">Classification Name:</label>
        <span>NAME MUST BE ALPHABETIC CHARACTERS ONLY!</span> 
        <input type="text" id="classification_name" name="classification_name" required pattern="[a-zA-Z]+" value="<%= locals.classification_name %>">
        <button type="submit">Add Classification</button>
    </form>
</div>
